@{
    ViewBag.Title = "Banhang";
}
@{
    Layout = null;
}
@using _1bite.Models;
@model ViewModel
@{
    Layout = null;
}
<html>
<head>
    <link href="~/Content/bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/css/Banhang.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
    </script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <script type="text/javascript" class="init">
        function addDishjs() {
            $.ajax({
                url: '/home/addDish',
                data: {
                    'id': $("#selectdish option:selected").val(),
                    'name': $("#selectdish option:selected").text(),
                    'amount': $("#dishamount").val()
                },
                type: 'POST',
                cache: false,
                success: function (result) {
                    $('#OrderListDish').empty().append(result)
                }
            });
        }
        function discount() {
            var url = '@Url.Action("ChangeTheValue", "Home")';
            $.post(url, { 'model': $('form').serialize(), 'discount': $('#discount').val(), 'type': $("#select-discount option:selected").val() }, function (view) {
                $("#bill").val(view);
            });
        }
        function addOrder() {
            if (!$("#OrderListDish tr").length)
            {
                alert("Need to add dish first");
                return;
            }
            var url = '@Url.Action("addOrder", "Home")';
            $.post(url, { 'discount': $('#discount').val(), 'type': $("#select-discount option:selected").val(), 'note': $("#note").val() }, function (view) {
                location.reload();
            });
        }
        function delOrd(id) {
            var id = id;
            $.ajax({
                url: '/Home/Delete',
                type: "post",
                data: { 'id': id },
                cache: false,
                success: function (result) {
                    $('#Order').empty().append(result);
                    location.reload();
                }
            });
        }
        function seeOrd(id) {
            var id = id;
            $.ajax({
                url: '/Home/seeOrder',
                type: "post",
                data: { 'id': id },
                cache: false,
                success: function (result) {
                    $('#OrderDetail').empty().append(result);
                }
            });
        }
    </script>
    <title>Bán hàng</title>
</head>
<body>
    <a href="/Home/Manage">Go back</a>
    <h1>New Order</h1>
    <div class="inputOrder">
        <h4 class="sellerName">Staff: @ViewBag.messagestaffname</h4>
        @*Thêm Món*@
        <select id="selectdish" name="selectdish">
            @foreach (Dish dish in Model.Dish)
            {
                <option value="@dish.id">@dish.name</option>
            }
        </select>
        <input name="dishamount" id="dishamount" min="1" step="any" type="number" value="1">
        <button id="addRow" onclick="addDishjs(); discount()">Add</button>
        <table class="display" style="width:100%">
            <caption>Dish list of Order</caption>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th scope="col">
                        Dish Name
                    </th>
                    <th scope="col">
                        Amount
                    </th>
                    <th scope="col">
                        Price
                    </th>
                    <th scope="col">
                        Total
                    </th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody id="OrderListDish">
            </tbody>
        </table>
    </div>
    <div class="orderOverallInformation">
        <h4>Discount:</h4>
        <input name="discount" id="discount" min="1" step="any" type="number" value="0" onkeypress="discount(this.val)">
        <select id="select-discount" name="select-discount" onchange="discount()">
            <option value="VND">VND</option>
            <option value="%">%</option>
        </select>
        <h4>Note:</h4>
        <input name="note" id="note" step="any" type="text" placeholder="Note">
        <h4>Total cost of Order:</h4>
        <button type="button" onclick="discount()">Refresh</button>
        <input name="bill" id="bill" min="0" step="any" type="number" value="0" readonly="readonly"><p>VND</p>
    </div>
    <button type="button" onclick="window.location.href = '/Home/Banhang'" title="Về trang chủ">Cancel</button>
    <input type="button" value="Confirm" onclick="addOrder()" /><br />
    <div class="orderHistory" 4>
        <h4>Order today:</h4>
        <a href="/Home/ViewAllOrders">See all Order</a>
        <table cellpadding="1" cellspacing="1" name="Order" id="Order" style="width:100%">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                    <th>Staff</th>
                    <th>Time</th>
                    <th>Discount</th>
                    <th>Note</th>
                    <th>Order money</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order order in Model.Order)
                {
                    <tr>
                        <td>@order.id</td>
                        <td>@order.status</td>
                        <td>@order.staffName</td>
                        <td>@order.Date</td>
                        <td>@order.discount</td>
                        <td>@order.note</td>
                        <td>@order.Total</td>
                        <td>
                            <button onclick="seeOrd('@order.id')" data-id="@order.id">See order</button>
                            <button onclick="delOrd('@order.id')" data-id="@order.id">Delete order</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="display" style="width:100%">
            <caption>Order dish's list</caption>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Dish Name</th>
                    <th>Dish Price</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="OrderDetail">
            </tbody>
        </table>
    </div>
</body>
</html>
