@{
    Layout = null;
}
@using _1bite.Models
@model ViewModel
@if (Model.importDetail != null)
{
    foreach (var item in Model.importDetail)
    {
        <tr>
            <td scope="row">
                @item.productId
            </td>
            <td scope="row">
                @item.productName
            </td>
            <td scope="row">
                @item.amount
            </td>
            <td scope="row">
                @item.unitPrice
            </td>
            <td scope="row">
                @item.paid
            </td>
            <td>
                <button onclick="delProduct('@item.productId'); idiscount()" data-id="@item.productId">Delete</button>
            </td>
        </tr>
    }
}
<script type="text/javascript" class="init">
    function delProduct(id) {
        var id = id;
        $.ajax({
            url: '/Home/delProduct',
            type: "post",
            data: { 'id': id },
            cache: false,
            success: function (result) {
                $('#ImportListProduct').empty().append(result);
            }
        });
        var url = '@Url.Action("ImportDiscount", "Home")';
        $.post(url, $('form').serialize(), function (view) {
            $("#bill").val(view);
        });
    }
    function idiscount() {
        var url = '@Url.Action("ImportDiscount", "Home")';
        $.post(url, { 'model': $('form').serialize(), 'discount': $('#product-discount').val(), 'shipFee': $('#shipFee').val() }, function (view) {
            $("#ibill").val(view);
        });
    }
</script>