@{
    ViewBag.Title = "Nhaphang";
}
@{
    Layout = null;
}
@using _1bite.Models
@model ViewModel
<link href="~/Content/bootstrap/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/Content/css/Banhang.css" rel="stylesheet" />
<html>
<head>
    <link href="~/Content/bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/css/Banhang.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
    </script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <script type="text/javascript" class="init">
        function addGoods() {
            $.ajax({
                url: '/home/addProduct',
                data: {
                    'id': $("#selectproduct option:selected").val(),
                    'amount': $("#productamount").val(),
                    'unitPrice': $("#unitprice").val(),
                    'discount': $("#product-discount").val()
                },
                type: 'POST',
                cache: false,
                success: function (result) {
                    $('#ImportListProduct').empty().append(result);
                },
                error: function (err) {
                    alert('Error occured ' + err.status);
                }
            });
        }
        function idiscount() {
            var url = '@Url.Action("ImportDiscount", "Home")';
            $.post(url, { 'model': $('form').serialize(), 'discount': $('#product-discount').val(), 'shipFee': $('#shipFee').val() }, function (view) {
                $("#ibill").val(view);
            });
        }
        function addImport() {
            if (!$("#ImportListProduct tr").length) {
                alert("Need to add product first");
                return;
            }
            var url = '@Url.Action("addImport", "Home")';
            $.post(url, { 'discount': 0, 'shipFee': $("#shipFee").val(), 'sourceId': $("#select-source option:selected").val() }, function (view) {
                location.reload();
            });
        }
        function delImport(id) {
            var id = id;
            $.ajax({
                url: '/Home/DeleteImport',
                type: "post",
                data: { 'id': id },
                cache: false,
                success: function (result) {
                    $('#Import').empty().append(result);
                    location.reload();
                }
            });
        }
        function seeImport(id) {
            var id = id;
            $.ajax({
                url: '/Home/seeImport',
                type: "post",
                data: { 'id': id },
                cache: false,
                success: function (result) {
                    $('#ImportDetail').empty().append(result);
                }
            });
        }
    </script>
    <title>Nhập hàng</title>
</head>
<body>
    <a href="/Home/Manage">Go back</a>
    <h1>Import</h1>
    <div class="inputOrder">
        <h4 class="sellerName">Staff: @ViewBag.messagestaffname</h4>
        <h4>New Product</h4>
        <p>Product Name:</p>
        <select id="selectproduct" name="selectproduct">
            @foreach (Product product in Model.Product)
            {
                <option value="@product.id">@product.name (@product.unit)</option>
            }
        </select>
        <p>Amount:</p>
        <input name="productamount" id="productamount" min="1" step="any" type="number" value="1">
        <p>Unit Price:</p>
        <input name="unitprice" id="unitprice" min="1" step="any" type="number" value="1">
        <p>Product's Discount:</p>
        <input name="product-discount" id="product-discount" step="any" type="number" value="0">
        <button id="addRow" onclick="addGoods(), idiscount()"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</button>
        <table class="display" style="width:100%">
            <caption>Product list of Import order</caption>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th scope="col">
                        Product Name
                    </th>
                    <th scope="col">
                        Amount
                    </th>
                    <th scope="col">
                        Price
                    </th>
                    <th scope="col">
                        Total
                    </th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody id="ImportListProduct">
            </tbody>
        </table>
    </div>
    <div class="importOverallInformation">
        <p>Ship fee:</p>
        <input name="shipFee" id="shipFee" min="0" step="any" type="number" value="0" onkeypress="idiscount(this.val)">
        <p>Source:</p>
        <select id="select-source" name="select-source">
            @foreach (Source product in Model.Source)
            {
                <option value="@product.id">@product.source</option>
            }
        </select>
        <p>Total cost:</p>
        <button type="button" onclick="idiscount()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <input name="ibill" id="ibill" min="0" step="any" type="number" value="0" readonly="readonly"><p>VND</p><br />
        <button type="button" onclick="addImport()"><i class="fa fa-check" aria-hidden="true"></i> Confirm</button>
        <button class="important" type="button" onclick="window.location.href = '/Home/Nhaphang'" title="Refresh data"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
    </div>

    <div class="importHistory" 4>
        <h4>Imported today</h4>
        <a href="/Home/ViewAllImport">See all Imported</a>
        <table cellpadding="1" cellspacing="1" name="Order" id="Order" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>Discount</th>
                    <th>Ship fee</th>
                    <th>Source</th>
                    <th>Total</th>
                    <th>Control</th>
                </tr>
            </thead>
            @foreach (Import order in Model.Import)
            {
                <tr>
                    <td>@order.id</td>
                    <td>@order.date</td>
                    <td>@order.overallDiscount</td>
                    <td>@order.shipFee</td>
                    <td>@order.source</td>
                    <td>@order.total</td>
                    <td>
                        <button class="information" onclick="seeImport('@order.id')" data-id="@order.id"><i class="fa fa-info-circle" aria-hidden="true"></i> See Import</button>
                        <button class="extreme" onclick="delImport('@order.id')" data-id="@order.id"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                    </td>
                </tr>
            }
        </table>
        <table class="display" style="width:100%">
            <caption>Product list of Import order</caption>
            <thead>
                <tr>
                    <th>Import ID</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Unit</th>
                    <th>Unit Price</th>
                    <th>Amount</th>
                    <th>Discount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="ImportDetail">
            </tbody>
        </table>
    </div>
</body>
</html>
