@{
    Layout = null;
}

<!DOCTYPE html>
@using _1bite.Models
@model ViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="jquery-3.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <link href="~/Content/bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/css/Banhang.css" rel="stylesheet" />
    <title>Account Managing</title>
</head>
<body>
    <a href="/Home/Manage">Go back</a>
    Logo, Quản lí tài khoản, button Trang chủ
    <div>
        <h4>Create Account:</h4>
        <input name="username" id="username" type="text" placeholder="Username">
        <input name="password" id="password" type="password" placeholder="Password">
        <h4>Select Rank:</h4>
        <select id="selectrank" name="selectrank">
            @foreach (Rank rank in Model.Rank)
            {
                <option value="@rank.id">@rank.rank</option>
            }
        </select>
        <input name="name" id="name" type="text" placeholder="Staff Name">
        <input name="phone" id="phone" type="text" placeholder="Phone Number" maxlength="10">
        <input name="email" id="email" type="text" placeholder="Email">
        <input type="button" value="Confirm" onclick="addAccount()" />
        <div>
            <table id="table_id" class="display" width="100%">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Created Date</th>
                        <th>Role</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Account != null)
                    {
                        foreach (Account order in Model.Account)
                        {
                            <tr>
                                <td>@order.username</td>
                                <td>@order.password</td>
                                <td>@order.date</td>
                                <td>@order.role</td>
                                <td>
                                    <button onclick="seeAccount(@order.id)" data-id="@order.id">See Information</button>
                                    <button onclick="delAccount(@order.id)" data-id="@order.id">Delete Account</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <table class="display" style="width:100%">
            <caption>Staff Information</caption>
            <thead>
                <tr>
                    <th>Staff ID</th>
                    <th>Staff Name</th>
                    <th>Phone number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody id="Staff">
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    function addAccount() {
        var url = '@Url.Action("addAccount", "Home")';
        $.post(url, { 'username': $('#username').val(), 'password': $('#password').val(), 'name': $("#name").val(), 'phone': $("#phone").val(), 'email': $('#email').val(),'rankId': $("#selectrank option:selected").val() }, function (view) {
            alert("Successful")
            location.reload();
        });
    }
    function delAccount(id) {
        var id = id;
        $.ajax({
            url: '/Home/DeleteAccount',
            type: "post",
            data: { 'id': id },
            cache: false,
            success: function (result) {
                alert(result)
                location.reload();
            }
        });
    }
    function seeAccount(id) {
        var id = id;
        $.ajax({
            url: '/Home/seeAccountInfo',
            type: "post",
            data: { 'id': id },
            cache: false,
            success: function (result) {
                alert(result)
                $('#Staff').empty().append(result);
            }
        });
    }
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
