@{
    Layout = null;
}

<!DOCTYPE html>
@using _1bite.Models
@model ViewModel
<html>
<head>
    <link href="~/Content/bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/css/Banhang.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
    </script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <title>Account Managing</title>
</head>
<body>
    <a href="/Home/Manage">Go back</a>
    Logo, Quản lí tài khoản, button Trang chủ
    <div>
        <div id="newAccount">
                        <h4>Create Account</h4>
                        <input name="username" id="username" type="text" placeholder="Username">
                        <input name="password" id="password" type="password" placeholder="Password">
                        <select id="selectrank" name="selectrank">
                            @foreach (Rank rank in Model.Rank)
                            {
                                <option value="@rank.id">@rank.rank</option>
                            }
                        </select>

                        <h4>Staff Information</h4>
                        <input name="name" id="name" type="text" placeholder="Staff Name">
                        <input name="phone" id="phone" type="text" placeholder="Phone Number" maxlength="10">
                        <input name="email" id="email" type="text" placeholder="Email">

                        <br />
                        <button onclick="addAccount()"><i class="fa fa-check" aria-hidden="true"></i> Confirm</button>
        </div>
        <h4>Account List</h4>
        <div>
            <table id="table_id" class="display" width="100%">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Created Date</th>
                        <th>Role</th>
                        <th>Control</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Account != null)
                    {
                        foreach (Account order in Model.Account)
                        {
                            <tr>
                                <td>@order.username</td>
                                <td>@order.password</td>
                                <td>@order.date</td>
                                <td>@order.role</td>
                                <td>
                                    <button class="information" onclick="seeAccount(@order.id)" data-id="@order.id"><i class="fa fa-info-circle" aria-hidden="true"></i> See Information</button>
                                    <button class="important" onclick="askPassword(@order.id,'@order.username.Trim()','@order.password.Trim()')" data-id="@order.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update Password</button>
                                    <button class="extreme" onclick="delAccount(@order.id)" data-id="@order.id"><i class="fa fa-trash" aria-hidden="true"></i> Delete Account</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <h4>Account Detail</h4>
        <table class="display" style="width:100%">
            <caption>Staff Information</caption>
            <thead>
                <tr>
                    <th>Staff ID</th>
                    <th>Staff Name</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody id="Staff">
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    function addAccount() {
        var url = '@Url.Action("addAccount", "Home")';
        $.post(url, { 'username': $('#username').val(), 'password': $('#password').val(), 'name': $("#name").val(), 'phone': $("#phone").val(), 'email': $('#email').val(),'rankId': $("#selectrank option:selected").val() }, function (view) {
            alert("Successful")
            location.reload();
        });
    }
    function askPassword(id, username, password) {
        var npassword = prompt("This is account: " + username + "\n Please enter new Password: ", password);
        if (npassword == null || npassword == "" || npassword == password) {
            alert("Cancel");
        } else {
            updatePassword(id, npassword);
        }
    }
    function updatePassword(id,password) {
        $.ajax({
            url: '/Home/updatePassword',
            type: "post",
            data: { 'id': id, 'pass': password },
            cache: false,
            success: function (result) {
                location.reload();
            }
        });
    }
    function delAccount(id) {
        var id = id;
        $.ajax({
            url: '/Home/DeleteAccount',
            type: "post",
            data: { 'id': id },
            cache: false,
            success: function (result) {
                location.reload();
            }
        });
    }
    function seeAccount(id) {
        var id = id;
        $.ajax({
            url: '/Home/seeAccountInfo',
            type: "post",
            data: { 'id': id },
            cache: false,
            success: function (result) {
                $('#Staff').empty().append(result);
            }
        });
    }
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
