@{
    Layout = null;
}

<!DOCTYPE html>
@using _1bite.Models
@model ViewModel
<html>
<head>
    <link href="~/Content/bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/css/Banhang.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
    </script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <title>Dish managing</title>
</head>
<body>
    <a href="/Home/Manage">Go back</a>
    Logo, Quản lí Món ăn, button Trang chủ
    <div>
        <div id="newDish">
            <h4>Add new dish</h4>
            <p>Dish Name</p>
            <input name="Name" id="Name" type="text" placeholder="Dish Name">
            <p>Dish Type</p>
            <select id="select-dishtype" name="select-dishtype">
                @foreach (DishType dish in Model.DishType)
                {
                    <option value="@dish.id">@dish.type</option>
                }
            </select>
            <p>Dish Price:</p>
            <input name="price" id="price" min="1" step="any" type="number" value="1"><p>VND</p>
            <input name="des" id="des" type="text" placeholder="Describe"><br />
            <button type="button" onclick="addDish()"><i class="fa fa-check" aria-hidden="true"></i> Confirm</button>
        </div>
        <h4>Dish List</h4>
        <table id="table_id" class="display" width="100%">
            <thead>
                <tr>
                    <th>Dish ID</th>
                    <th>Dish Name</th>
                    <th>Dish Price (VND)</th>
                    <th>Describe</th>
                    <th>Dish Type</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Dish != null)
                {
                    foreach (Dish order in Model.Dish)
                    {
                        <tr>
                            <td>@order.id</td>
                            <td>@order.name</td>
                            <td>@order.price</td>
                            <td>@order.des</td>
                            <td>@order.dishtype</td>
                            <td>
                                <button class="extreme" onclick="delDish(@order.id)" data-id="@order.id"><i class="fa fa-trash" aria-hidden="true"></i> Delete Dish</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    function addDish() {
        var url = '@Url.Action("newDish", "Home")';
        $.post(url, { 'name': $('#Name').val(), 'type': $("#select-dishtype option:selected").val(), 'price': $("#price").val(), 'des': $("#des").val() }, function (view) {
            alert("Thêm thành công")
            location.reload();
        });
    }
    function delDish(id) {
        var id = id;
        $.ajax({
            url: '/Home/DeleleDish',
            type: "post",
            data: { 'id': id },
            cache: false,
            success: function (result) {
                alert("Xoá thành công")
                location.reload();
            }
        });
    }
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
